th {
    font-weight: bold;
}

td,
th {
    text-align: center;
}

.tble th {
    text-align: left;
}

section {
    margin-bottom: 2em;
}

.history {
    overflow: scroll;
    height: 10em;
}

.top_space {
    margin-top: 2em;
}

.right {
    float: right;
}

.small_pad {
    padding-left: 3em;
    padding-right: 3em;
}

.red {
    color: red;
}
